@use "../var.scss";

footer {
  background-color: var.$blackFooter;
  padding: 100px;
  color: var.$white;
  display: flex;
  justify-content: space-around;

  .left {
    text-decoration: underline;

    a {
      color: var.$white;
    }
  }
  
  .right {
    display: flex;

    a {
      margin: 5px;
    }
  }
}

.copyright {
  background-color: #2754dd;
  color: var.$white;
  padding: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

@media(max-width: 485px) {
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;

    .right {
      justify-content: center;
    }
  }
  .copyright {
    font-size: unset;
  }
}