@use "../var.scss";

header {
  padding: 20px;

  ul,
  li {
    display: flex;
  }

  ul {
    li {
      margin: 10px;

      a {
        color: var.$black;
        font-size: 20px;
        text-decoration: none;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 0;
          background: var.$black;
          transition: width 0.5s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}