header {
  background-color: rgb(12, 12, 12);
  padding: 20px;

  ul,
  li {
    display: flex;
  }

  a {
    color: #f8f8f8;
    margin: 5px;
    font-size: 17.47px;

    &:hover {
      transition: 0.9s;
      color: rgb(184, 184, 184);
    }
  }
}