@use "./var.scss";

@font-face {
  font-family: 'Spectrale Extra Bold';
  src: url('../../fonts/spectrale/Spectral-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

body {
  background-color: var.$white;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Spectrale Extra Bold";
  user-select: none;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

img {
  pointer-events: none;
}