$white: #f6f8de;
$black: #0f0f0f;

@font-face {
  font-family: 'Spectrale Extra Bold';
  src: url('../../fonts/spectrale/Spectral-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}