@use "../var.scss";

.home {
  .top {
    margin: 50px;

    .title {
      color: var.$black;
      font-size: 30px;
    }

    .description {
      font-size: 19px;
      margin: 10px 15px 0 10px;

      .words {
        width: auto;
        cursor: pointer;
      }

      .titletools {
        font-size: 22px;
      }
    }

    .toolsList {
      margin: 10px 0 0 10px;

      img {
        margin: 2.5px;
      }
    }
  }

  .projects {
    .list {
      padding: 50px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .item {
        padding: 20px;
        margin: 15px;
        border-radius: 15px;
        transition: 0.5s;

        &:hover {
          background-color: var.$whitedark;
        }

        .img>img {
          width: calc(20dvw * 2);
          min-width: 300px;
          max-width: 350px;
        }

        .title {
          color: var.$black;
        }
      }
    }
  }
}

@media(max-width: 490px) {
  .home {
    .top {
      .title {
        font-size: 32px;
      }
      .title,
      .description {
        text-align: center;
      }
    }
  }
}