.list {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .item {
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    transition: 0.5s;

    &:hover {
      background-color: var.$whitedark;
    }

    .img > img{
      width: calc(20dvw * 2);
      min-width: 250px;
      max-width: 350px;
    }

    .title {
      color: var.$black;
    }
  }
}