#content {
  background:linear-gradient(10deg,rgba(79,31,39,1.0),rgba(75,31,38,1.0),rgba(73,32,38,1.0),rgba(70,34,39,1.0),rgba(66,35,38,1.0),rgba(63,36,39,1.0),rgba(64,38,40,1.0),rgba(69,40,42,1.0),rgba(74,43,45,1.0),rgba(77,46,48,1.0),rgba(82,50,51,1.0),rgba(85,51,52,1.0),rgba(89,50,50,1.0),rgba(94,50,50,1.0),rgba(98,50,50,1.0),rgba(101,50,50,1.0),rgba(104,49,50,1.0),rgba(105,47,48,1.0),rgba(105,45,47,1.0),rgba(105,43,47,1.0),rgba(107,43,46,1.0),rgba(111,43,47,1.0),rgba(113,42,49,1.0),rgba(114,41,48,1.0),rgba(112,41,46,1.0),rgba(107,39,43,1.0),rgba(104,37,41,1.0),rgba(102,36,41,1.0),rgba(104,35,40,1.0),rgba(104,35,40,1.0),rgba(104,36,40,1.0),rgba(103,35,40,1.0),rgba(102,35,40,1.0),rgba(101,34,40,1.0),rgba(102,34,40,1.0),rgba(103,34,40,1.0),rgba(105,35,42,1.0),rgba(111,36,45,1.0),rgba(118,38,50,1.0),rgba(121,38,51,1.0),rgba(122,38,52,1.0),rgba(123,37,52,1.0),rgba(124,37,51,1.0),rgba(123,37,50,1.0),rgba(122,38,50,1.0),rgba(121,37,49,1.0),rgba(120,36,49,1.0),rgba(119,36,48,1.0),rgba(117,36,47,1.0),rgba(116,36,47,1.0),rgba(115,35,47,1.0),rgba(113,35,47,1.0),rgba(112,35,47,1.0),rgba(112,34,47,1.0),rgba(111,34,47,1.0),rgba(111,35,47,1.0),rgba(110,34,47,1.0),rgba(108,34,48,1.0),rgba(104,34,47,1.0),rgba(100,33,44,1.0),rgba(96,33,43,1.0),rgba(91,32,42,1.0),rgba(87,31,41,1.0),rgba(85,30,40,1.0));
  height: 550px;
  width: 1000px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}
#app {
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle, #000028, #110066, #6600aa, #aa00ff);
}
#block {
  height: 93%;
  width: 95%;
  display: flex;
  justify-content: space-between
}
#name {
  font-size: 20px;
}
ul, li {
  list-style-type: none;
}
a {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
#txt {
  color: black !important;
}
a:hover {
  background-color: rgb(223, 223, 223);
}
@media only screen and (max-width: 1000px) {
  #content {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  #block {
    flex-direction: column;
  }
  #left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#img {
  border-radius: 50%;
}