name: deploy

on:
  release:
    types: [created]  # déclenche uniquement quand une release est créée

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'  # ou la version que tu utilises localement

      - name: Install dependencies
        run: npm ci  # npm ci est plus fiable pour CI/CD

      - name: Build
        run: npm run build

      - name: Deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run deploy -- --token="${GITHUB_TOKEN}"